<% provide(:title, "ユーザー編集") %>
<h2>ユーザー編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :username %> <br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :website %> <br />
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :自己紹介 %> <br />
    <%= f.text_field :introduce %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :電話番号 %> <br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :性別 %> <br />
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

    <%= link_to "パスワード変更", new_password_path(resource_name) %><br />

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>アカウント削除</h3>
<p>本当によろしいですか? <%= button_to "削除", registration_path(resource_name), data: { confirm: "削除してよろしいですか?" }, method: :delete %></p>

<%= link_to "Back", :back %>
