<% provide(:title) %>
<h1>Insta app</h1>
 <% if user_signed_in? %>
  <%= render 'layouts/header' %>
  <div class="col-md-8">
    <h3>Photo Feed</h3>
  </div>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <% else %>
    <p>ようこそInsta appへ！</p>
    <%= link_to 'ユーザー登録', new_user_registration_path %>
    <%= link_to 'Facebookログイン', user_facebook_omniauth_authorize_path %>
  <% end %>
