<% provide(:title, current_user.name) %>
<%= render 'layouts/header' %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
        <%= @user.username %>
        <span><%= pluralize(current_user.photos.count, "photo") %></span>
      </h1>
    </section>
    <section class="stats">
        <%= render 'layouts/stats' %>
      </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if user_signed_in? %>
    <% if @user.photos.any? %>
      <h3>Photos (<%= @user.photos.count %>)</h3>
      <ol class="photos">
       <%= render @photos %>
      </ol>
    <% end %>
  </div>
</div>
<h1><%= current_user.introduce %></h1>
<% if @user == current_user %>
  <%= link_to 'プロフィール変更', edit_user_registration_path %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
<% end %>
