<li id="photo-<%= photo.id %>">
  <span class="user"><%= link_to photo.user.name, photo.user %></span>
  <span class="photo">
    <%= image_tag photo.image.url if photo.image? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(photo.created_at) %> ago.
    <%= link_to "delete", photo, method: :delete,
                                       data: { confirm: "You sure?" } %>
  </span>
</li>
