<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Insta app", root_url, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Top",   root_url %></li>
            <li><%= link_to "Mypage", mypage_path(current_user) %></li>
            <li></li>
          </ul>
        </nav>
      </div>
    </header>
